* {
    box-sizing: border-box;
  }

body {
    background: #03020D;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF; 
    border: 1 px solid #FFFFFF;
}

div.button-container {
    gap: 15px; 
    margin-bottom: 30px; 
}

button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(28deg, #FF5416 75%, #E40000 25%);
    color: #FFFFFF; /* White text */
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

h2 {
    font-size: 20px;
    color: #FFFFFF; 
    margin-bottom: 10px;
}

.leaveButton {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #E40000 !important;
    color: #FFFFFF;
    cursor: pointer;
    transition: transform 0.2s;
}

aside {
    background: linear-gradient(28deg, #E40000 25%, #FF5416 75%); /* Active Orange gradient */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 300px;
    margin: 20px;
}

aside h2 {
    color: #FFFFFF; /* White */
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #FFFFFF; /* White for contrast */
    padding-bottom: 10px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #292831; /* Charcoal grey */
    color: #FFFFFF; /* White */
    transition: background-color 0.3s ease;
}

aside li:hover {
    background-color: #4AF7FF; /* Electric cyan */
}

/* Create two unequal columns that floats next to each other */
.column {
float: left;
padding: 10px;
}

.left {
width: 25%;
}

.right {
width: 75%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}